<div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="col-md-4">
        <lable>ng-bind: teacher-rest year:</lable>
        <input ng-model="vm.teacher.restYear"/><br>
      </div>
      <div class="col-md-4" style="font-size: 20px">
        <label>expresion: </label><span>{{vm.teacher.restYear}}</span><br>
      </div>
    </div>
  </div>

  <div style="margin-top: 20px" class="row col-md-offset-2 col-md-8">
    <label>I'm teacher list:</label><br>
    <table>
      <thead>
      <tr>
        <th class="col-md-2"> name</th>
        <th class="col-md-2"> age</th>
        <th class="col-md-2"> subject</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="teacher in vm.teachers">
        <td ng-bind="teacher.name"></td>
        <td>{{teacher.age | TeacherFilter :teacher.name :$index}}</td>
        <td>{{teacher.subject}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>